

/* ===== Primary Styles ========================================================
   Author: Adam Bard
   ========================================================================== */

body{
    background: #fff; /*transparent url('../images/bg.png') repeat top left*/
    padding-top: 40px;
    padding-bottom: 0px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'OSPDIN';
    color: #005365;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 40px;
}

h2{
    font-size: 60px;
    line-height: 60px;
}

h3{
    font-size: 40px;
    line-height: 40px;
    color: #007f9a;
}

p{
    line-height: 20px;
}

header h1{
    text-indent: -9999px;
    background: transparent url('../images/header.png') no-repeat top left;
    height: 180px;
    margin: 0px;
}

header h2{
    text-indent: -9999px;
    background: transparent url('../images/subhead.png') no-repeat top left;
    height: 80px;
    margin: 0px;
}
header{
    margin-bottom: 40px;
}

footer{
    background: #333 url('../images/footer.png') repeat top left;
    padding: 20px;
    color: #fff;
    line-height: 20px;
    margin-top: 40px;
    text-align: right;
}
footer p{
    margin: 0px;
}

section{
    margin: 80px 0px;
}

section#portfolio img{
    border: 9px solid #00a0c0;
}

section#contact h2{
    margin-bottom: 40px;
}


fieldset ul,
fieldset ul li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    font-size: 20px;
}

fieldset ul li label{
    font-size: inherit;
    display: block;
    height: 40px;
    vertical-align: bottom;
    line-height: 40px;
    font-family: "OSPDIN";
    text-transform: uppercase;
    font-size: 30px;
    color: #007f9a;
}

fieldset ul li .text,
fieldset ul li textarea{
    font-size: inherit;
    line-height: inherit;
    width: 450px;
    height: 40px;
    padding: 0px 5px;
}

fieldset ul li textarea.text{
    height: 280px;
    font-size: 16px;
    line-height: 20px;
}

fieldset ul li fieldset label,
fieldset ul li fieldset input
{
    display: inline;
    vertical-align: baseline;
    line-height: 40px;
    font-family: arial;
    text-transform: none;
    font-size: 16px;
    color: #333;
}

fieldset ul li fieldset span{
    padding-left: 5px;
    padding-right: 15px;
}

