

/* ===== Primary Styles ========================================================
   Author: Adam Bard
   ========================================================================== */

body{
    background: #fff; /*transparent url('../images/bg.png') repeat top left*/
    padding-top: 0px;
    padding-bottom: 0px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'OSPDIN';
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 40px;
}

h2{
    font-size: 60px;
    line-height: 60px;
}

h3{
    font-size: 40px;
    line-height: 40px;
    color: #000;
}

p{
    line-height: 20px;
}

.header{
    background: #000;
    height: 60px;
    line-height: 60px;
    padding: 20px;
    margin-bottom: 40px;
}

nav{
}
nav ul{
    line-height: 60px;
    height: 60px;
    text-align: right;
}

nav ul li{
    line-height: 60px;
    height: 60px;
    text-align: right;
    display: inline;
}

nav ul li a{
    color: #fff;
    margin-right: 10px;
    line-height: 20px;
    vertical-align: bottom;
    font-size: 16px;

}

header h1{
    text-indent: -9999px;
    background: transparent url('../images/bw_logo.png') no-repeat top left;
    height: 60px;
    width: 300px;
    margin: 0px auto;
    float: left;
    position: relative;
}
header h1 a{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

header h2{
    float: left;
    font-size: 32px;
    line-height: 20px;
    padding-top: 40px;
    vertical-align: bottom;
    color: #fff;
    height: 0px;
    margin: 0px;
}

footer{
    background: #000;
    padding: 20px;
    color: #fff;
    line-height: 20px;
    margin-top: 40px;
    text-align: right;
}
footer p{
    margin: 0px;
}
footer h2,
footer label,
footer fieldset,
footer form fieldset ul li fieldset label{
    text-align: left;
    color: #fff;
}

section{
    margin: 80px 0px;
}

section img.photo{
    border: 2px solid #333;
}

section#contact h2{
    margin-bottom: 40px;
}


fieldset ul,
fieldset ul li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    font-size: 20px;
}

fieldset ul li label{
    font-size: inherit;
    display: block;
    height: 40px;
    vertical-align: bottom;
    line-height: 40px;
    font-family: "OSPDIN";
    text-transform: uppercase;
    font-size: 30px;
}

fieldset ul li .text,
fieldset ul li textarea{
    font-size: inherit;
    line-height: inherit;
    width: 95%;
    height: 40px;
    padding: 0px 5px;
}
fieldset ul li.submit input{
    height: 40px;
    width: 95%;
    margin-top: 40px;
    font-size: inherit;
}

fieldset ul li textarea.text{
    height: 240px;
    font-size: 16px;
    line-height: 20px;
}

fieldset ul li fieldset label,
fieldset ul li fieldset input
{
    display: inline;
    vertical-align: baseline;
    line-height: 40px;
    font-family: arial;
    text-transform: none;
    font-size: 16px;
    color: #333;
}

fieldset ul li fieldset span{
    padding-left: 5px;
    padding-right: 15px;
}

