<section>
<h2>About</h2>
</section>

<h2>People</h2>

<section>
<div class="row">
    <div class="span8">
        <h3>Adam Bard</h3>
        <p>We'll be honest &mdash; Refinry is pretty much this guy with a royal "we."</p>
        <p>
            I'm a web developer from Victoria, BC. I've been making websites since grade school, and professionally &mdash; as a freelancer and an employee &mdash; for the last 5 or so years.
        </p>

        <p class="socialicons">
        <a href="https://twitter.com/adambard/"><img src="/static/images/twitter.png" /></a>
        <a href="http://ca.linkedin.com/in/adambard"><img src="/static/images/linkedin.png" /></a>
        </p>
    </div>
    <div class="span4">
        <img class="photo" src="/static/images/photo_adam.jpg" width="366" height="360">
    </div>
</div><!-- .row -->
</section>
