            <section>
            <!-- Example row of columns -->
            <div class="hero-unit">
                <h1>Something Catchy</h1>
                <p>A tagline.</p>
                <p><a class="btn" href="/about/">Learn More</a></p>
            </div>
            </section>
            <section>

            <div class="row">
                <div class="span4">
                    <h3>Design</h3>
                    <p>Looking good will only get you so far. Real design requires attention to detail, and a focus on the needs of the user. We emphasize <strong>usability and accessibility</strong> by adhering to published UI design principles and standards.</p>
                </div>
                <div class="span4">
                    <h3>Develop</h3>
                    <p>At Refinry, we know good code. We combine cutting-edge technologies with best-practice methods and proven standards to produce elegant solutions for real problems. We won't call ourselves a Django shop &mdash; or a Rails or Node.js or PHP one, for that matter.
                    </p>
                    <p> We know to pick the tools for the project, and not the project for the tools. </p>
                </div>
                <div class="span4">
                    <h3>Deploy</h3>
                    <p>When it comes time to deploy, we make it straightforward. We use the best tools for the job, whatever the job is.</p>
                    <p>Simple web-page deployments to custom application, we'll get your application up and running, fast and hassle-free.</p>
                </div>
            </div>
            </section>

            <section>
            <div class="row">
                <div class="span12">
                    <p>Want to learn more about our development practices? Visit our <a href="http://blog.refinry.com">Blog</a>.</p>
                </div>
            </div>

            </section>
            {#
            <section id="portfolio">
            <h2>Portfolio</h2>
            <div class="row">
                <div class="span8">
                    <img src="/static/images/portfolio/resumatic.png">
                </div>
                <div class="span4">
                    <h3>Resumatic.net</h3>
                    <p>An infinitely configurable resume generator with LinkedIn integration.</p>
                </div>
            </div>
            </section>
            #}


