<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Refinry | Web Application Development, Victoria BC</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="/static/fonts/osp-din/stylesheet.css">
        <link rel="stylesheet" href="/static/css/style2.css">

        <script src="/static/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
        <div class="header">
            <header>
                <h1><a href="/">Refinry</a></h1>
                <h2>Web Design / Development &mdash; Victoria, BC</h2>
            </header>
            <nav>
                <ul>
                    <li>
                        <a href="/" title="Home">Home</a>
                    </li>
                    <li>
                        <a href="/about/" title="About">About</a>
                    </li>
                    <li>
                        <a href="/contact/" title="Contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="body" class="container">
            {% block content %}{% endblock %}
        </div> <!-- /container -->

        <footer>
            <div class="container">
                <section id="contact">
                    <h2>Request a Consultation</h2>
                    <form action="/contact/" method="post">
                        <div class="row">
                            <div class="span6">
                                <fieldset>
                                    <ul>
                                        <li>
                                            <label for="name">Your Name:</label>
                                            <input class="text" name="name">
                                        </li>
                                        <li>
                                            <label for="email">Your Email Address:</label>
                                            <input class="text" type="email" name="email">
                                        </li>
                                        <li>
                                            <label for="email">Your Phone Number:</label>
                                            <input class="text" name="phone">
                                        </li>
                                        <li>
                                            <label for="preference">Preferred Method of Contact:</label>
                                            <fieldset>
                                                <label><input type="radio" name="preference" value="email" checked><span>Email</span></label>
                                                <label><input type="radio" name="preference" value="phone"><span>Telephone</span></label>
                                                <label><input type="radio" name="preference" value="any"><span>Whatever</span></label>
                                            </fieldset>
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                            <div class="span6">
                                <fieldset>
                                    <ul>
                                        <li>
                                            <label for="message">Describe your project in detail:</label>
                                            <textarea class="text" name="message"></textarea>
                                        </li>
                                        <li class="submit">
                                            <input type="submit" class="btn-info" value="Submit your request" />
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <p>&copy; Refinry 2012</p>
            </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

            <script src="/static/js/libs/bootstrap/transition.js"></script>
            <script src="/static/js/libs/bootstrap/collapse.js"></script>

            <script src="/static/js/refinry.js"></script>
            <script>
                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>

            {% block script %}{% endblock %}

        </body>
    </html>

